* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
}

h1 {
  font-size: 3.53em;
}
h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2.3em;
}
p {
  font-size: 1.25em;
}
ul {
  list-style: none;
}
li {
  font-size: 1.25em;
}

.color-acento {
  color: blueviolet;
} /*despues se hizo*/
button {
  font-size: 1.5em;
  font-weight: bold; /*Negrita*/
  padding: 10px 30px; /*Esto agrega un espacio entre las letras y el borde*/
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: blueviolet;
}
button:hover {
  background-color: rebeccapurple;
}
.container {
  max-width: 1400px;
  margin: auto;
}
header {
  background-color: rgb(245, 245, 245);
}
header .logo {
  margin: 0;
  padding: 20px 30px;
  font-weight: bold;
  color: blueviolet;
  font-size: 1.6em;
}
header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}
header a {
  padding: 5px 12px;
  text-decoration: none; /*Esto en este casos "none" quita el subrayado de link*/
  font-weight: bold; /*Neggrita, por si acaso repito*/
  color: black;
}
header a:hover {
  color: blueviolet; /*Esto es el color de cuando se presiona*/
}
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: antiquewhite;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("Media/Hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#hero {
  color: white;
}

#Mi-camino .container {
  text-align: center;
  padding: 200px 12px;
}
#rutas {
  background-color: rgba(30, 30, 30);
  color: white;
}
#rutas .container {
  text-align: center;
  padding: 100px 0px;
}
#rutas h2 {
  margin-top: 0;
  font-size: 3em;
}
#rutas p {
  display: none;
}
#rutas .carta {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}
.carta:first-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("Media/1.jpg");
}
.carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("Media/2.jpg");
}
.carta:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("Media/3.jpg");
}
#caracteristicas .container {
  text-align: center;
  padding: 100px 12px;
}
#caracteristicas li {
  margin: 16px 0px;
  font-weight: bold;
  font-size: 2em;
}
#final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(30, 30, 30);
  color: white;
  height: 80vh;
}
#final h2 {
  font-size: 9vw;
}
#final button {
  font-size: 5vw;
}
footer {
  background-color: rbg(230, 230, 230);
}
footer p {
  margin: 0;
  color: rgb(100, 100, 100);
  padding: 12px;
}
footer .container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media (min-width: 720px) {
  header {
    position: fixed;
    width: 100%;
  }
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }
  #hero h1 {
    font-size: 5em;
  }
  #Mi-camino .container {
    display: flex;
    justify-content: space-evenly;
  }
  #Mi-Camino H2 {
    margin: 0px;
  }
  #Mi-camino .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #Mi-camino .img-container {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url("Media/base.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 50%;
  }
  #rutas .cartas {
    display: flex;
    justify-content: center;
  }

  #rutas p {
    display: block;
    margin-bottom: 30px;
  }
  #rutas h3 {
    margin-top: 0;
  }

  #rutas .carta {
    padding: 50px;
    background-size: 100% 70;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  #caracteristicas .container {
    display: flex;
    text-align: initial;
    justify-content: space-evenly;
  }
  #caracteristicas .img-container {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url("Media/penul.JPG");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 50%;
  }
  #caracteristicas li {
    margin-top: 10px;
    width: 100%;
    text-align: initial;
    padding-left: 12px;

    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
  }
}
